<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<nav>
		<ul>
			<li><a href="/home">messages</a></li>
			<li><a href ="/message/new">Send a message</a></li>
			<li><a href="/logout">LOG OUT</a></li>
		</ul>
	</nav>
	<h2>inbox</h2>
	<% if (emails) { %>
		<div><%= emails %></div>
		<% } else { %>
		<div>No Available Messages </div>
		<% } %>
	
</body>
</html>
