<%- include header.ejs %>
	<%- include navbar.ejs %>
	<h2>inbox</h2>
	<% if (emails) { %>
		<div><%= emails %></div>
		<% } else { %>
		<div>No Messages Available</div>
		<% } %>
<%- include footer.ejs %>
