<div style="width: 75%; margin: 0 auto" class="text-center">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <h2 class="navbar-brand text-uppercase">GA</h2>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <a class="nav-link" href="/home">messages <!-- <span class="sr-only">(current)</span> --></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/message/new">Send a message</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/logout">LOG OUT</a>
	      </li>
	    </ul>
	  </div>
	</nav>
	<br>