<%- include header.ejs %>
	<%- include navbar.ejs %>
	<h1>SEND A MESSAGE</h1>
	<form action="/message/new" method="POST" class="form-horizontal">
		<div class="form-group">
			<label>Send TO:</label>
			<select name="to" class="form-control">
			<% if (users.length) { %>
				<% for(let i = 0; i < users.length; i++) { %>
					<option><%= users[i] %></option>
				<%}%>
			<%}%> 
			</select>
			<br>
			<label>Message:</label>
			<textarea name="message" class="form-control"> </textarea>
			<br>
			<input type="submit" value="submit" class="btn btn-info btn-lg">
		</div>
	</form>
</body>
</html>