<!DOCTYPE html>
<html>
<head>
	<title>GA messaging system</title>
</head>
<body>
	<form action="/signup/new" method="POST">
		<h1>SignUp TO GA Messaging System</h1>
		<input type="email" name="email" placeholder="Email">
		<input type="password" name="password" placeholder="Password">
		<input type="submit" name="submit" value="Submit">
	</form>
</body>
</html>